# シャープで始めるとコメント行になる

# tmp フォルダまるごと無視したい
temp/

# 下階層全てのフォルダ内で ".DS_Store" ファイルを無視したい
*/.DS_Store


# オブジェクトファイルも無視する
*.o
*.d
#*.a
#*.so

# ここ以下のファイルは無視する
proj.android/obj/
proj.android/bin/
#proj.android
#proj.android/
#!*/proj.android/src/



