<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>flipper_left</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.1400,0.4667 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -14.000,16.000 }</string>	
								<string>{ -14.000,-14.000 }</string>	
								<string>{ 86.000,-3.000 }</string>	
								<string>{ 86.000,5.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>flipper_right</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.8700,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 13.000,-15.000 }</string>	
								<string>{ 13.000,15.000 }</string>	
								<string>{ -87.000,4.000 }</string>	
								<string>{ -87.000,-4.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>sample_stage_01</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.1</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -118.000,-200.000 }</string>	
								<string>{ -113.000,-161.000 }</string>	
								<string>{ -120.000,-135.000 }</string>	
								<string>{ -150.000,-200.000 }</string>
							</array>
							<array>	
								<string>{ -120.000,200.000 }</string>	
								<string>{ -150.000,200.000 }</string>	
								<string>{ -129.000,77.000 }</string>	
								<string>{ -111.000,127.000 }</string>	
								<string>{ -110.000,157.000 }</string>	
								<string>{ -114.000,178.000 }</string>
							</array>
							<array>	
								<string>{ -109.000,11.000 }</string>	
								<string>{ -126.000,57.000 }</string>	
								<string>{ -116.000,-28.000 }</string>
							</array>
							<array>	
								<string>{ -116.000,-102.000 }</string>	
								<string>{ -121.000,-77.000 }</string>	
								<string>{ -150.000,-200.000 }</string>	
								<string>{ -120.000,-135.000 }</string>
							</array>
							<array>	
								<string>{ -150.000,-200.000 }</string>	
								<string>{ -121.000,-77.000 }</string>	
								<string>{ -116.000,-28.000 }</string>	
								<string>{ -150.000,200.000 }</string>
							</array>
							<array>	
								<string>{ -116.000,-60.000 }</string>	
								<string>{ -116.000,-28.000 }</string>	
								<string>{ -121.000,-77.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.1</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 119.000,200.000 }</string>	
								<string>{ 119.000,170.000 }</string>	
								<string>{ 123.000,119.000 }</string>	
								<string>{ 150.000,200.000 }</string>
							</array>
							<array>	
								<string>{ 122.000,-200.000 }</string>	
								<string>{ 150.000,-200.000 }</string>	
								<string>{ 120.000,-113.000 }</string>	
								<string>{ 109.000,-148.000 }</string>
							</array>
							<array>	
								<string>{ 116.000,-77.000 }</string>	
								<string>{ 120.000,-113.000 }</string>	
								<string>{ 150.000,-200.000 }</string>	
								<string>{ 125.000,-49.000 }</string>
							</array>
							<array>	
								<string>{ 114.000,22.000 }</string>	
								<string>{ 150.000,-200.000 }</string>	
								<string>{ 124.000,56.000 }</string>
							</array>
							<array>	
								<string>{ 120.000,88.000 }</string>	
								<string>{ 124.000,56.000 }</string>	
								<string>{ 150.000,200.000 }</string>	
								<string>{ 123.000,119.000 }</string>
							</array>
							<array>	
								<string>{ 150.000,200.000 }</string>	
								<string>{ 124.000,56.000 }</string>	
								<string>{ 150.000,-200.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 9.000,26.000 }</string>	
								<string>{ -14.000,-9.000 }</string>	
								<string>{ 7.000,-44.000 }</string>	
								<string>{ 35.000,-9.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>100</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>22.023</real>
                             <key>position</key> <string>{ 63.000,135.000 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>sample_stage_02</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -105.000,200.000 }</string>	
								<string>{ -150.000,200.000 }</string>	
								<string>{ -121.000,173.000 }</string>
							</array>
							<array>	
								<string>{ -103.000,119.000 }</string>	
								<string>{ -121.000,173.000 }</string>	
								<string>{ -150.000,200.000 }</string>	
								<string>{ -124.000,71.000 }</string>
							</array>
							<array>	
								<string>{ -114.000,-153.000 }</string>	
								<string>{ -132.000,-79.000 }</string>	
								<string>{ -150.000,-200.000 }</string>	
								<string>{ -138.000,-198.000 }</string>
							</array>
							<array>	
								<string>{ -108.000,-12.000 }</string>	
								<string>{ -150.000,200.000 }</string>	
								<string>{ -132.000,-79.000 }</string>
							</array>
							<array>	
								<string>{ -132.000,-79.000 }</string>	
								<string>{ -150.000,200.000 }</string>	
								<string>{ -150.000,-200.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.1</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 116.000,200.000 }</string>	
								<string>{ 127.000,167.000 }</string>	
								<string>{ 150.000,200.000 }</string>
							</array>
							<array>	
								<string>{ 115.000,-163.000 }</string>	
								<string>{ 135.000,-200.000 }</string>	
								<string>{ 150.000,-200.000 }</string>	
								<string>{ 141.000,-103.000 }</string>
							</array>
							<array>	
								<string>{ 111.000,95.000 }</string>	
								<string>{ 130.000,29.000 }</string>	
								<string>{ 150.000,200.000 }</string>	
								<string>{ 127.000,167.000 }</string>
							</array>
							<array>	
								<string>{ 118.000,-33.000 }</string>	
								<string>{ 141.000,-103.000 }</string>	
								<string>{ 130.000,29.000 }</string>
							</array>
							<array>	
								<string>{ 150.000,200.000 }</string>	
								<string>{ 130.000,29.000 }</string>	
								<string>{ 150.000,-200.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.1</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 4.000,200.000 }</string>	
								<string>{ 4.000,186.000 }</string>	
								<string>{ 122.000,186.000 }</string>	
								<string>{ 121.000,200.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 52.000,173.000 }</string>	
								<string>{ 6.000,173.000 }</string>	
								<string>{ 56.000,136.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.1</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 1.000,107.000 }</string>	
								<string>{ -78.000,141.000 }</string>	
								<string>{ -83.000,95.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>100</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>14.000</real>
                             <key>position</key> <string>{ 86.000,54.000 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string>100</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>16.000</real>
                             <key>position</key> <string>{ -58.000,2.000 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>pinball_ball</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.1</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>15.000</real>
                             <key>position</key> <string>{ -0.167,-0.000 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>totoki_airi_01</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>30</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>6.000</real>
                             <key>position</key> <string>{ -0.750,6.250 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -6.000,10.000 }</string>	
								<string>{ 2.000,11.000 }</string>	
								<string>{ 6.500,20.750 }</string>	
								<string>{ 5.250,30.000 }</string>	
								<string>{ 3.000,35.000 }</string>	
								<string>{ -4.000,35.000 }</string>	
								<string>{ -8.000,32.250 }</string>	
								<string>{ -9.000,22.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>15.000</real>
                             <key>position</key> <string>{ -0.750,48.750 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>simple_back</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.3</real>
                        <key>restitution</key> <real>0.1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 300.000,47.000 }</string>	
								<string>{ 263.000,52.000 }</string>	
								<string>{ 148.000,44.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 300.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 0.000,52.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 116.000,47.000 }</string>	
								<string>{ 94.000,56.000 }</string>	
								<string>{ 36.000,56.000 }</string>
							</array>
							<array>	
								<string>{ 78.000,90.000 }</string>	
								<string>{ 59.000,90.000 }</string>	
								<string>{ 36.000,56.000 }</string>	
								<string>{ 94.000,56.000 }</string>
							</array>
							<array>	
								<string>{ 214.000,96.000 }</string>	
								<string>{ 192.000,92.000 }</string>	
								<string>{ 175.000,80.000 }</string>	
								<string>{ 148.000,44.000 }</string>	
								<string>{ 241.000,68.000 }</string>	
								<string>{ 230.000,86.000 }</string>
							</array>
							<array>	
								<string>{ 241.000,68.000 }</string>	
								<string>{ 148.000,44.000 }</string>	
								<string>{ 263.000,52.000 }</string>
							</array>
							<array>	
								<string>{ 116.000,47.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 148.000,44.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

